.homes {
    grid-column: center-start / center-end;
    margin: 15em 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 7em;
}

.home {
    background-color: $color-grey-light-1;

    &__like {}

    &__name {}

    &__location,
    &__rooms,
    &__price,
    &__area {
        svg {
            height: 2em;
            width: 2em;
            fill: $color-primary;
        }

        p {}
    }
}